/* Global/General styling such as font and font colour. Also styling the
wrapper in which most of the site is wrapped in. */
html{
  box-sizing:border-box;
  font-family: 'Black Ops One', cursive;
  color: black;
}

body{
  background: white;
  margin: 30px 50px;
  line-height: 1.4;
}

.wrapper{
  display:grid;
  grid-gap:20px;

}
.description{
  background: #ddd;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

/* Button styling as well as an on hover colour change */
.btn{
  background: #1a529b;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border:0;
}
.btn:hover{
  background-color: orange;
  color: #fff;
}

img{
  max-width:100%;

}
/* All styling related to the navigation bar including a colour change on hover*/
.main-nav ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-nav a{
  background: #1a529b;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.main-nav a:hover{
  background-color: orange;
  color: #fff;
}
/* Little styling just to change the font size of the description */
.introduction{
  font-size: 1.5rem;
}
/* All styling relating to the 'categories' section. This includes the boxes and
the button to take them to the relevant page.*/
.categories{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.category{
  background: #ddd;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8)
}
/* Little style to the footer to clearly mark the end of a page or section to the
user*/
footer{
  font-size: 1.5rem;
  background: #1a529b;
  color: #fff;
  text-align:center;
}

/* Making it functional on mobile. */
@media (max-width: 700px){
  .main-nav ul{
    grid-template-columns: 1fr;
  }
}




/* All styling relating to the items page */
.itemsheader{
  background: #1a529b;
  width: 100%;
  height: 3rem;
}
.itemsheader p{
color: #fff;
float:right;
padding-right: 50px;
}
.item{
  background: #ddd;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
  width:auto;
  float:left;
}
.itemwrapper{
  font-size: 1.5rem;
}
.itembtnplus{
  background-color: #7ac435;
  color: #fff;
  text-decoration: bold;
  font-size: 2rem;
  width: 3.5rem;
  float:right;
}
.itembtnminus{
  background-color: #dd1616;
  color: #fff;
  text-decoration: bold;
  font-size: 2rem;
  width: 3.5rem;
  float:right;
}

/* All styling relating to the about page */
.gallery{
width: auto;
height: auto;
background: #ddd;
padding: 0.5rem 1.61rem;
box-shadow: 0 1px 5px rgba(104,104,104,0.8);
display:inline;
}



/* All styling relating to the Customiser Page */
canvas{
  border: 1px solid black;
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;

}

.canvasbtn{
  background: #1a529b;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvasbtn:hover{
  background-color: orange;
  color: #fff;
}
.canvascolour1{
  background: red;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}

.canvascolour2{
  background: blue;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour3{
  background: green;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour4{
  background: black;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour5{
  background: purple;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour6{
  background: yellow;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour7{
  background: gray;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
.canvascolour8{
  background: white;
  color: #000;
  font-size: 1.5rem;
  font-family: 'Black Ops One', cursive;
}
